<h1> <%= t :hi %> <%=@first_name%> </h1>
<h1><%= t :rentInformation %>:</h1>

<ul>
    <li><%= t :bookTitle %> : <%= @title %> </li>
    <li><%= t :to %> : <%= @to %> </li>
</ul>

<p><%= t :gratitude %> ! </p>